@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
  font-family: "Arial", sans-serif;
}

#h1 {
  font-size: 3rem;
  margin-bottom: 2px;
}

#tittle_popUp {
  padding: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  width: 100%;
  max-width: 512px;
  padding-left: 0;
}

.pop_up_instruction input[type="text"],
.pop_up_instruction select {
  width: 250px; 
  padding: 0.7rem; 
  font-size: 1rem; 
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 4px;
}

.pop_up_instruction input[type="text"]:focus,
.pop_up_instruction select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.pop_up_instruction input[type="text"]::placeholder {
  color: #0000008a;
}




div.pop_up_instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  border: 2px solid #555555;
  border-radius: 1.3rem;
  width: 710px;
  height: 600px;
  padding: 1rem;
}

div.cont_selection {
  display: flex;
  gap: 1.7rem;
  margin: 1.7rem 0;
}


div.inputs_area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.3rem;
  margin: 1.7rem 0;
  width: 100%;
}


.input-container {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-container.row {
  flex-direction: row; 
  gap: 1.3rem; 
  justify-content: center;
  flex-wrap: wrap; 
}


.input-container.row .input-group input,
.input-container.row .input-group select {
  width: 250px; 
}




div.cont_btns {
  display: flex;
  gap: 1.7rem;
  margin-top: 1.8rem;
}

div.cont_btns button {
  color: white;
  border: 1.3px solid #000;
  outline: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 140px;
  padding: 0.75rem;
  transition: all 0.3s ease-in-out;
}

button#btn_confirm_instruction {
  background-color: #25884e;
  height: 60px;
  width: 180px;
  border: none;
}

button#btn_confirm_instruction:hover {
  background-color: #1a5f37;
  transform: translateY(-4px);
  box-shadow: 0 0 10px rgb(37, 136, 78);
}

button#btn_cancel_instruction {
  background-color: #a12a2a;
  border: none;
}

button#btn_cancel_instruction:hover {
  background-color: #701c1c;
  transform: translateY(-4px);
  box-shadow: 0 0 10px rgb(161, 42, 42);
}

.input-container.hidden {
  display: none;
}