
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%
}

#popup_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    border: 2px solid #555555;
    border-radius: 1.3rem;
    width: 710px;
    height: fit-content;
    padding: 1rem;
}

#title_subtitle{
    margin: 1rem;
}

#segments_container{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

span > input {
    padding: 0.5rem;
}


.segment{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    background-color: #2f2f2f;
    padding: 0.5rem;
}

.segment > input {
    margin-left: auto;
}
#buttons_container{
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

button {
  color: white;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 140px;
  padding: 0.75rem;
  transition: all 0.3s ease-in-out;
}

#confirm_btn{
    background-color: #25884e;
}

button#confirm_btn:hover {
  background-color: #1a5f37;
  transform: translateY(-4px);
}

#cancel_btn{
  background-color: #a12a2a;
}

button#cancel_btn:hover {
  background-color: #701c1c;
  transform: translateY(-4px); 
}
