@charset "UFT-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #0f0f0f;
  font-family: "Arial", sans-serif;
}

header {
  background-color: #212020;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.7rem;

  padding: 1rem;
}

header > button.btn_icon_play {
  background-color: #46a44d;
  cursor: pointer;
  border-radius: 0.7rem;
  outline: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;

  transition: all 0.3s ease-in-out;
}

header > button.btn_icon_play:hover {
  background-color: #2b642f;
  box-shadow: 0px 0px 8px #1f4922;
  scale: 1.1;
}

header > button.btn_icon_play:active {
  background-color: #79ee80;
}

div.execution_stages {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

div.execution_stages > p {
  margin-right: 0.6rem;
}

ul.ul_stages {
  list-style: none;

  display: flex;
  gap: 0.7rem;
}

ul.ul_stages > li {
  background-color: #6f6f6f;

  padding: 1rem;
}

div.cont_load_reset_program {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

div.cont_load_reset_program > button {
  color: white;
  font-size: 1.08rem;
  cursor: pointer;
  border-radius: 0.4rem;

  padding: 0.65rem;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

div.cont_load_reset_program > button:hover {
  scale: 1.03;
}

button#btn_load_program {
  background-color: #46a44d;
}

button#btn_load_program:hover {
  background-color: #2b642f;
}

button#btn_reset_program {
  background-color: #830606;
}

button#btn_reset_program:hover {
  background-color: #5f0505;
}

.footer_container {
  position: absolute;
  min-width: 100%;
  bottom: 0;
  background-color: #444444;
  min-height: 6rem;
}

.creators_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.creator {
  display: flex;
  flex-direction: column;
}

.creator_links_container {
  display: flex;
}
.creator_name {
  text-align: center;
}
