@charset "UFT-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.footer_container{
    position: absolute;
    min-width: 100%;
    bottom: 0;
    background-color: #444444;
    min-height: 6rem;
}

.creators_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.creator{
    display: flex;
    flex-direction: column;
}

.creator_links_container{
    display: flex;
}
.creator_name{
    text-align: center;
}