@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  color: #fff;
  font-family: "Arial", sans-serif;
}

/* =================================
  Header
==================================== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b2b2b;
  padding: 15px 20px;
  border-bottom: 3px solid #6a0dad;
  min-height: 80px;
}

.btn_icon_play {
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, transform 0.2s;
}

.btn_icon_play:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.btn_icon_play img {
  width: 24px;
  height: 24px;
}

.execution_stages {
  display: flex;
  align-items: center;
  gap: 15px;
}

div.execution_stages > p {
  color: #e0e0e0;
  font-size: 16px;
  margin: 0;
  font-family: Arial, sans-serif;
  margin-right: 0.6rem;
}

ul.ul_stages {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  gap: 0.7rem;
}

ul.ul_stages > li {
  background-color: #6f6f6f;
  color: #e0e0e0;
  padding: 1rem;
  font-size: 14px;
  border-right: 1px solid #5a5a5a;
  cursor: pointer;
  font-family: Arial, sans-serif;
  transition: background-color 0.2s, color 0.2s;
}

ul.ul_stages > li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

ul.ul_stages > li:last-child {
  border-right: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

ul.ul_stages > li:hover {
  background-color: #7a7a7a;
}

ul.ul_stages li.active {
  background-color: #4a90e2;
  color: white;
  font-weight: bold;
}

div.cont_load_reset_program {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

div.cont_load_reset_program > button {
  color: white;
  font-size: 1.08rem;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0.65rem;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

div.cont_load_reset_program > button:hover {
  scale: 1.03;
}

button#btn_load_program {
  background-color: #46a44d;
}

button#btn_load_program:hover {
  background-color: #2b642f;
}

button#btn_reset_program {
  background-color: #830606;
}

button#btn_reset_program:hover {
  background-color: #5f0505;
}

/* =================================
  Layout Principal e Títulos
==================================== */

.simulator_container {
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: flex-start;
  margin-top: 1px;
  padding: 1rem;
}

.cpu_section,
.ram_section {
  display: flex;
  flex-direction: column;
  margin-top: 1.0rem;
}

.ula_container {
  display: flex;
  max-width: 10rem;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 2rem;
}

#ula_img {
  width: 15rem;
  z-index: 1;
}

.ula_bus {
  min-width: 115px;
  position: relative;
  min-height: 15px;
  background-color: greenyellow;
  z-index: 0;
  right: 6rem;
}

.title_container {
  font-size: 2.5em;
  margin: 5px 0 15px 0;
  text-align: center;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
}

/* =================================
  Seção CPU
==================================== */

.cpu_base {
  width: fit-content;
  min-height: 480px;
  background-color: #4a412a;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
}

.registers_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
  flex-wrap: nowrap;
}

.main_registers {
  display: flex;
  border: 5px solid gray;
  padding: 0.5rem;
  background-color: darkslategrey;
  z-index: 1;
}

.general_registers_container,
.segment_registers_container,
.pointers_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
}

.register > h2 {
  padding: 1rem;
}

.main_registers > div > span > p {
  font-size: 1.3rem;
  font-weight: 200;
  color: #e0e0e0;
  text-transform: capitalize;
}

.register_data_container {
  padding: 0.8rem;
  border-radius: 5%;
  font-size: 1.4rem;
  background-color: #3c3c3c;
  font-family: "Courier New", Courier, monospace;
}

/* =================================
  Seção RAM
==================================== */

.ram_base {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  min-width: fit-content;
  min-height: fit-content;
  padding: 20px;
  box-sizing: border-box;
  background-color: #347c7d;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

.visualizador {
  min-width: fit-content;
  background-color: #3c3c3c;
  border: 2px solid #5a5a5a;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.separador_visualizadores {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.visualizador p {
  text-align: center;
  color: #e0e0e0;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.linha-codigo {
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e0e0e0;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  gap: 0.5rem;
  font-size: 18px;
}

.linha-codigo > h4 {
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #6e6e6e;
}

.linha-codigo:last-child {
  margin-bottom: 0;
}

.linha-codigo > h5{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
}
/* =================================
    Barramentos
==================================== */
.barramento-legenda {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  gap: 15px;
}

.legenda-bus {
  font-size: 1rem;
  font-weight: bold;
  color: #e0e0e0;
  text-align: center;
  width: 180px; /* Largura igual à do barramento */
}

.barramentos-visualizacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  min-width: 10px;
  max-width: 20px;
  justify-content: center;
  gap: 120px;
}

.barramento {
  width: 180px;
  height: 28px);
  min-height: 8px;
  max-height: 28px;
}

.bus-endereco {
  background-color: #1e88e5;
}
.bus-dados {
  background-color: #43a047;
}
/* =================================
  Section Cálculo Endereço Físico
==================================== */

section.calc_ef {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.6rem;
  margin: 1.4rem 0;
}

section.calc_ef > h2 {
  font-size: 1.7rem;
}

div.cont_calc {
  background-color: #2b2b2b;
  font-weight: 600;
  font-size: 1.2rem;
  width: 95%;

  padding: 1rem;
  margin-top: 0.7rem;
}

/* =================================
  Footer
==================================== */

.footer_container {
  width: 100%;
  background-color: #444444;
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0;
}

.creators_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.creator {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
}

.creator_name {
  text-align: center;
  color: #e0e0e0;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.creator_links_container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.creator_links_container > a {
  width: 2rem;
  transition-duration: 0.2s;
}

.creator_links_container > a:hover {
  scale: 1.1;
}

/* =================================
  Iframe Pop-up de Insrtrução
==================================== */

iframe.iframe_position_page {
  z-index: 1000;
  width: 710px;
  height: 400px;
  border-radius: 1.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: none;
}
