@charset "UFT-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #0f0f0f;
  font-family: "Arial", sans-serif;
}

header {
  background-color: #212020;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.7rem;

  padding: 1rem;
}

header > button.btn_icon_play {
  background-color: #46a44d;
  cursor: pointer;
  border-radius: 0.7rem;
  outline: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;

  transition: all 0.3s ease-in-out;
}

header > button.btn_icon_play:hover {
  background-color: #2b642f;
  box-shadow: 0px 0px 8px #1f4922;
  scale: 1.1;
}

header > button.btn_icon_play:active {
  background-color: #79ee80;
}

div.execution_stages {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}
.simulator_container {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: flex-start;
    margin-top: 1px;
}

.cpu_section, .ram_section {
    display: flex;
    flex-direction: column;
}

.title_container {
    font-size: 2.5em;
    margin: 5px 0 10px 0;
    text-align: left;
    color: white;
}

.cpu_base {
    width: 800px;
    height: 480px;
    background-color: #4a412a;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

.ram_base {
    width: 350px;
    height: 480px;
    background-color: #347c7d;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}


div.execution_stages > p {
  margin-right: 0.6rem;
}

ul.ul_stages {
  list-style: none;

  display: flex;
  gap: 0.7rem;
}

ul.ul_stages > li {
  background-color: #6f6f6f;

  padding: 1rem;
}

div.cont_load_reset_program {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

div.cont_load_reset_program > button {
  color: white;
  font-size: 1.08rem;
  cursor: pointer;
  border-radius: 0.4rem;

  padding: 0.65rem;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

div.cont_load_reset_program > button:hover {
  scale: 1.03;
}

button#btn_load_program {
  background-color: #46a44d;
}

button#btn_load_program:hover {
  background-color: #2b642f;
}

button#btn_reset_program {
  background-color: #830606;
}

button#btn_reset_program:hover {
  background-color: #5f0505;
}

.footer_container {
  position: absolute;
  min-width: 100%;
  bottom: 0;
  background-color: #444444;
  min-height: 6rem;
}

.creators_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.creator {
  display: flex;
  flex-direction: column;
}

.creator_links_container {
  display: flex;
}
.creator_name {
  text-align: center;
.creators_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.creator{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.creator_links_container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 0.5;
}

.creator_links_container > a{
    width: 2rem;
    transition-duration: 0.2s;
}

.creator_links_container > a:hover{
    scale: 1.1;
}

.creator_name{
    text-align: center;
}
